<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookShop.Properties.Settings.ButiLaFamosaConnectionString"
            connectionString="Data Source=172.22.23.191;Initial Catalog=ButiLaFamosa;Persist Security Info=True;User ID=bróker;Password=broker"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>